{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Activity Management{% endblock  %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-aCSPk8GKu0kkiUbSSjMBDlNIQP5CKEM5Qn2ATqUFu1AN5HdyICe3CdVDYHgnN+QzocjquYJQ6UFh7ZqL2F5xNQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'activity_app/style.css' %}?v=2">
    {% block extra_css %}{% endblock  %}
</head>
<body>
    
    <!-- Sidebar -->
    {% include "activity_app/includes/navbar.html" %}

    {% block content %}
    
    {% endblock  %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="{% static 'activity_app/script.js' %}"></script>
  
</body>
</html>