<div>
    <div class="sidebar">
    <div class="sidebar-brand">
        <i class="fas fa-bars"></i> Menu
    </div>
    <nav class="navbar">
        <a class="nav-link active" href="#">
            <i class="fas fa-home"></i>
            <span>Home</span>
        </a>
        <a class="nav-link" href="#">
            <i class="fas fa-chart-line"></i>
            <span>Activity Logs</span>
        </a>
        <a class="nav-link" href="#">
            <i class="fas fa-bell"></i>
            <span>Remainders</span>
        </a>
    </nav>
</div>