{% extends "activity_app/base.html" %}
{% block content %}
<div class="container-taskform">
        <div class="header-taskform">
            <a href="{% url 'remainder_list' %}" class="back-btn">← Back to List</a>
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form }}
            </div>

            <div class="form-actions">
                <button type="submit" class="btn-submit">Save</button>
                <a href="{% url "remainder_list" %}" class="btn-cancel">Cancel</a>
            </div>
        </form>
    </div>
{% endblock  %}